<h1>Figures Show Page</h1> <br>

<p><strong>Figure Name:</strong> <%= @figure.name %></p>
<br>

<p><strong>Landmarks:</strong></p>
<ul>
  <% @figure.landmarks.each do |landmark| %>
    <li><%= landmark.name %></li>
  <% end %>
</ul>



<p><strong>Titles:</strong></p>
<ul>
  <% @figure.titles.each do |title| %>
    <li><%= title.name %></li>
  <% end %>
</ul>


<a href="/figures/<%= @figure.id %>/edit">Edit This Figure</a>
<a class="button" href="/">Go Home</a>